body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; /* Updated to Raleway */
    background-color: #002a4d; /* Dark Navy Blue Background */
    height: 100vh; /* Use full viewport height */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #003366; /* Slightly darker navy blue */
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1 {
    font-family: 'Raleway', sans-serif; /* Updated to Raleway */
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif; /* Updated to Raleway */
}

main {
    flex-grow: 1; /* Allow main to grow to take up available space */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem; /* Adjust for fixed header */
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.construction-gif {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

p {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Raleway', sans-serif; /* Updated to Raleway */
    margin-top: 10px; /* Add some spacing between paragraphs */
}
